---
import PageLayout from '@/layouts/PageLayout.astro';

const description = 'Мультибрендовый официальный сервис в Самаре и Поволжье по ремонту американских, европейских и корейских автомобилей концерна General Motors. Выгодные цены, оригинальные запчасти, диагностика и ТО.';
const title = 'Ремонт авто General Motors в Самаре - цены';
const h1 = 'Сервисный центр';

export const breadcrumb = { name: "Сервисный центр", href: "/remont/" };
---

<PageLayout
  h1={h1}
  title={title}
  description={description}
  breadcrumb={[breadcrumb]}
>

<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-5">
  <a href='/remont/opel/' class="!no-underline">
    <div class="bg-gray-50 group rounded-2xl relative aspect-video overflow-hidden lazy">
      <img src="/img/loading-simple.gif" data-src='/img/remont/logo-photo-opel.webp' class="absolute w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110" alt='Ремонт Opel' loading="lazy">
    </div>
    <div class="text-black mt-2 sm:mt-4 leading-none">Ремонт Opel</div>
  </a>
  <a href='/remont/chevrolet/' class="!no-underline">
    <div class="bg-gray-50 group rounded-2xl relative aspect-video overflow-hidden lazy">
      <img src="/img/loading-simple.gif" data-src='/img/remont/logo-photo-chevrolet.webp' class="absolute w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110" alt='Ремонт Chevrolet' loading="lazy">
    </div>
    <div class="text-black mt-2 sm:mt-4 leading-none">Ремонт Chevrolet</div>
  </a>
  <a href='/remont/cadillac/' class="!no-underline">
    <div class="bg-gray-50 group rounded-2xl relative aspect-video overflow-hidden lazy">
      <img src="/img/loading-simple.gif" data-src='/img/remont/logo-photo-cadillac.webp' class="absolute w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110" alt='Ремонт Cadillac' loading="lazy">
    </div>
    <div class="text-black mt-2 sm:mt-4 leading-none">Ремонт Cadillac</div>
  </a>
  <a href='/remont/hummer/' class="!no-underline">
    <div class="bg-gray-50 group rounded-2xl relative aspect-video overflow-hidden lazy">
      <img src="/img/loading-simple.gif" data-src='/img/remont/logo-photo-hummer.webp' class="absolute w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110" alt='Ремонт Hummer' loading="lazy">
    </div>
    <div class="text-black mt-2 sm:mt-4 leading-none">Ремонт Hummer</div>
  </a>
</div>
</PageLayout>