---
import RemontModels from '@/components/RemontModels/RemontModels.astro';
import PageLayout from '@/layouts/PageLayout.astro';

const description = 'О компании — Сервисный центр Альфа';
const title = 'О компании';
const h1 = 'О компании';

export const breadcrumb = { name: "О компании", href: "/about/" };
---

<PageLayout
  h1={h1}
  title={title}
  description={description}
  breadcrumb={[breadcrumb]}
>
<p>Сервисный центр «Альфа» является единственным в Самаре официально авторизованным центром по обслуживанию пяти марок General Motors: <RemontModels />. Автоцентр «Альфа» &mdash; один из самых крупных и технологически оснащенных сервис -центров среди официальных дилеров General Motors в Поволжье. Компания имеет полностью оснащенный технический сервис.
</p>
<p><a href="/autoservice/individuals/mechanical_repairs/"> Механический цех</a> размещает на площади более 1400 кв.м. 25 постов, <a href="/autoservice/individuals/body_repair/">кузовной цех</a> на площади более 1050 кв.м. &mdash; 16 постов, автомойка площадью 400 кв.м. способна единовременно принять 8 автомобилей.
</p>
<p>Для комфортного ожидания своего транспортного средства для клиентов в «Альфа» оборудована комфортная зона ожидания.
</p>
<p>Автомобильный центр «Альфа» &mdash; это надежная компания, которая заботится о своих клиентах, поднимает их престиж, экономит их время и деньги, осуществляет мечты. До 2011 года компания «Альфа» имела брендовое название <nobr>&laquo;VIP-АВТО</nobr> ЦЕНТР&raquo;. В 2011 году компания вернулась к своему изначальному имени (<nobr>ООО «Альфа-Сервис»</nobr>) &mdash; «Альфа», что является отражением политики менеджмента, нацеленной на новый этап развития компании.
</p>
<p>Мы искренне желаем видеть вас в числе наших клиентов и надеемся на плодотворное и взаимовыгодное сотрудничество.
</p>
</PageLayout>