---
import PageLayout from '@/layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import { SITE_NAME } from '@/const';
import PostItem from '@/components/Post/Item.astro';

const rawPosts = await getCollection('about', ({data}) => {
	return data.type === 'blog';
});

let posts;

if (rawPosts && rawPosts.length) {
	posts = rawPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
}

import { breadcrumb as aboutBreadcrumb } from '../index.astro';
---

<PageLayout 
	h1="Блог"
	title={`Блог | ${SITE_NAME}`}
	breadcrumb={[aboutBreadcrumb, { name: "Блог", href: "/blog/" }]}
>
	{
		posts ? (
			<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-5">
				{ posts.map(post => ( <PostItem post={post} /> )) }
			</div>
		) : (
			<p>Скоро здесь появятся новости {SITE_NAME}.</p>
		)
	}
</PageLayout>