---
import PageLayout from '@/layouts/PageLayout.astro';

const description = 'Альфа Центр - выкуп и продажа авто с пробегом. Подержанные автомобили с гарантией! Уникальные акции и выгодные цены!';
const title = 'Купить авто с пробегом в Самаре - цены на б у автомобили в Trade-In';
const h1 = 'Услуги';

export const breadcrumb = { name: "Сервисный центр", href: "/remont/" };
---

<PageLayout
  h1={h1}
  title={title}
  description={description}
  breadcrumb={[breadcrumb]}
>
  <p>Автоцентр АЛЬФА - ваш надежный партнер на рынке автомобилей с пробегом!</p>
  <p>В нашем автоцентре вы не только можете приобрести проверенный более чем по 100 пунктам автомобиль с пробегом, а также воспользоваться услугами автокредитования и страхования.</p>
  <p>Мы сотрудничаем с большим количествои банков, таких как РН Банк, Совком, Сетелем, Росбанк, Локобанк, Европа Банк, ВТБ.</p>
  <p>Воспользовавшись программой трейд ин вы сможете поменять ваш автомбил на другой с доплатой разницы в цене.</p>
  <p>Доступны персональные скидки.</p>
</PageLayout>