---
import Layout from '@/layouts/Layout.astro';
const description = 'Альфа Центр - выкуп и продажа авто с пробегом. Подержанные автомобили с гарантией! Уникальные акции и выгодные цены!';
const title = 'Купить авто с пробегом в Самаре - цены на б у автомобили в Trade-In';
const h1 = 'Услуги';
---

<Layout>
  <div class="intro">
    <div class="intro">
       Автоцентр АЛЬФА - ваш надежный партнер на рынке автомобилей с пробегом!<br>
       В нашем автоцентре вы не только можете приобрести проверенный более чем по 100 пунктам автомобиль с пробегом, а также воспользоваться услугами автокредитования и страхования.
    </div>
    <div>
      <div>
         Мы сотрудничаем с большим количествои банков, таких как РН Банк, Совком, Сетелем, Росбанк, Локобанк, Европа Банк, ВТБ<br>
   <br>
         Воспользовавшись программой трейд ин вы сможете поменять ваш автомбил на другой с доплатой разницы в цене.<br>
      </div>
    </div>
    <div>
      <div>
   <br>
         Доступны персональные скидки.<br>
   <br>
         Наш магазин на авито:<br>
   <a href="https://www.avito.ru/alphacenter?gdlkerfdnwq=102&shopId=1184943">https://www.avito.ru/alphacenter?gdlkerfdnwq=102&amp;amp;shopId=1184943</a><br>
        <br>
   <br>
   <br>
      </div>
    </div>
    <p>
    </p>
  </div>
</Layout>