---
import Layout from '@/layouts/Layout.astro';
import { PHONE } from '@/const';
import { phoneFormat } from '@/js/utils/numbers.format';
const description = 'TRADE-IN — Сервисный центр Альфа. Выгодные цены, высокое качество работы, официальный автоцентр General Motors в Самаре.';
const title = 'TRADE-IN в Самаре - цены - сдать авто на обмен по выгодной цене';
const h1 = 'TRADE-IN';
---

<Layout>
  <p align="center">
    Уважаемые клиенты!
  </p>
  <p align="justify">
    Для удобства в Автоцентре Альфа работает отдел <strong>"TRADE-IN"</strong>! Теперь Вам не надо долго и мучительно искать покупателя Вашего автомобиля или опасаться за чистоту сделки по покупке подержанного автомобиля. Вы увидите, насколько это <strong>быстро</strong>, <strong>удобно</strong>, а главное - <strong>БЕЗОПАСНО</strong>!
  </p>
  <p align="justify">
    Используя систему "<strong>TRADE-IN", </strong>Вы избавляете себя от хлопот самостоятельной продажи автомобиля.
  </p>
  <p align="justify">
    К Вашим услугам:
  </p>
  <ul>
    <li>оценка автомобиля (БЕСПЛАТНО)</li>
    <li>полная диагностика автомобиля (БЕСПЛАТНО)</li>
    <li>прием автомобиля на комиссию в Автоцентре Альфа;</li>
    <li>хранение принятого автомобиля на стоянке (БЕСПЛАТНО);</li>
    <li>продажа автомобиля по указанной Вами цене.</li>
     <? /*  <li>выплата комиссии в размере 3% от стоимости проданного автомобиля.</li>*/ ?>
  </ul>
  <p>
    У Вас есть замечательная возможность приобрести у нас&nbsp;подержанный автомобиль за наличный и безналичный расчёт, оформить кредит и страховой полис.
  </p>
  <p>
    Каталог автомобилей с пробегом:&nbsp;<a href="https://www.avito.ru/alphacenter?gdlkerfdnwq=101&shopId=1184943&page_from=from_item_header&iid=2194254828">АЛЬФА ЦЕНТР АВИТО</a>
  </p>
  <p>
    Подробнее об услуге можно узнать по телефону <strong><a href={`tel:${phoneFormat(PHONE)}`}>{PHONE}</a></strong>.
  </p>
</Layout>