---
import Layout from '@/layouts/Layout.astro';
import { PHONE } from '@/const';
import { phoneFormat } from '@/js/utils/numbers.format';
const description = 'Удаленное урегулирование убытков — Сервисный центр Альфа. Выгодные цены, высокое качество работы, официальный автоцентр General Motors в Самаре.';
const title = 'Удаленное урегулирование убытков в Самаре - цены';
const h1 = 'Удаленное урегулирование убытков';
---

<Layout>
  <p>
    <strong>Уважаемый клиент! <br>
      При наступлении Страхового Случая обращайтесь напрямую в наш автосалон.</strong>
   </p>
   <p>
      В этом случае Вы существенно Экономите время, поскольку:
   </p>
   <ul>
     <li>Вам не придется везти автомобиль на осмотр в Страховую компанию</li>
     <li>Вам не нужно стоять в очередях и самостоятельно заниматься урегулированием спорных ситуаций</li>
     <li>После ДТП Вы сразу приезжаете в Автоцентр «Альфа» и мы решаем большинство проблем, связанных с получением направления на ремонт</li>
   </ul>
   <p style="overflow: hidden; text-align: center;">
      <!--img alt="" title="Ингосстрах" src="/upload/actions/i_ingos.jpg"-->
      <img src="/upload/actions/i_reso.jpg" title="РЕСО">
      <img src="/upload/actions/i_uralsib.jpg" title="Уралсиб"> <br>
      <img src="/upload/actions/i_fyord.jpg" title="Фьорд">
      <img src="/upload/actions/i_vsk.jpg" title="ВСК страховой дом"> <br>
      <img src="/upload/actions/i_ergo.jpg" title="ERGO Русь">
      <img src="/upload/actions/i_rosgostrah.jpg" title="РОСГОССТРАХ">
   </p>
   <p>
      Внимание! В настоящее время услуга распространяется только для клиентов, застраховавших свою машину по программе КАСКО ( при страховании Каско в страховых компаниях ОСАО «РЕСО-Гарантия, СД «ВСК», СК «ФьорД», СК «УралСиб», СК «ERGO Русь», СК «РОСГОССТРАХ»)
   </p>
   <p>
    <strong>Как воспользоваться «Удаленным Урегулированием Убытков» (УУУ)?</strong>
   </p>
   <p>
      При наступлении страхового события, Которое вы расцениваете как страховой случай, позвоните в Автоцентр «Альфа»
   </p>
   <p>
    <strong>Для заявления по убыткам КАСКО и выявления всех повреждений автомобиль предоставлять в чистом виде.</strong>
   </p>
   <p>
    <strong>Телефон Специалиста по УУУ&nbsp;<a href={`tel:${phoneFormat(PHONE)}`}>{PHONE}</a>;</strong>
   </p>
   <p>
    <strong>
     Время приема документов ежедневно с 8-00 до 20-00</strong>
   </p>
</Layout>