---
import PageLayout from '@/layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import { SITE_NAME } from '@/const';
import PostItem from '@/components/Post/Item.astro';

const posts = await getCollection('about', ({data}) => {
	return data.type === 'news';
});

import { breadcrumb as aboutBreadcrumb } from '../index.astro';
---

<PageLayout 
	h1="Новости"
	title={`Новости | ${SITE_NAME}`}
	breadcrumb={[aboutBreadcrumb, { name: "Новости", href: "/news/" }]}
>
	{
		posts && posts.length ? (
			<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-5">
				{ posts.map(post => ( <PostItem post={post} /> )) }
			</div>
		) : (
			<p>Скоро здесь появятся новости {SITE_NAME}.</p>
		)
	}
</PageLayout>