---
import PageLayout from '@/layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import settings from '@/data/settings.json';
export const { site_name } = settings;
import PostItem from '@/components/Post/Item.astro';
import type { CollectionEntry } from 'astro:content';

interface BlogPost extends CollectionEntry<'about'> {
	data: {
		type: string;
		pubDate: Date;
		title: string;
	}
}

const rawPosts = await getCollection('about');
const newsPosts = (rawPosts as BlogPost[]).filter(post => post.id.startsWith('news/'));
const posts = newsPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

import { breadcrumb as aboutBreadcrumb } from '../index.astro';
---

<PageLayout 
	h1="Новости"
	title={`Новости | ${site_name}`}
	breadcrumb={[aboutBreadcrumb, { name: "Новости", href: "/news/" }]}
>
	{
		posts.length ? (
			<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-5">
				{ posts.map(post => ( <PostItem post={post} /> )) }
			</div>
		) : (
			<p>Скоро здесь появятся новости {site_name}.</p>
		)
	}
</PageLayout>