---
import PageLayout from '@/layouts/PageLayout.astro';

const description = 'Наш сервис-центр предлагает ремонт двигателей, КПП и электрики, а также оригинальные запчасти General Motors. Выгодные цены, высокое качество работы, компетентные специалисты.';
const title = 'Услуги автосервиса в Самаре - цены';
const h1 = 'Сервис и запчасти';

export const breadcrumb = { name: "Сервис и запчасти", href: "/autoservice/" };
---

<PageLayout
  h1={h1}
  title={title}
  description={description}
  breadcrumb={[breadcrumb]}
>
<p><strong>Автоцентр &laquo;Альфа&raquo;</strong>&nbsp;&mdash; один из&nbsp;самых крупных и &nbsp;технологически оснащенных Сервис центров среди официальных дилеров General  Motors в Поволжье&nbsp;.</p>
 
<p>Мы&nbsp;осуществляем полный спектр работ по&nbsp;поддержанию автомобилей <a href="/remont/opel/">Opel</a>, <a href="/remont/chevrolet/">Chevrolet</a>, <a href="/remont/cadillac/">Cadillac</a> в&nbsp;отличном состоянии, в&nbsp;соответствии с&nbsp;требованиями <nobr>завода-изготовителя</nobr>. Это достигается за&nbsp;счёт мастерства и&nbsp;опыта наших специалистов, постоянно повышающих уровень своей квалификации в&nbsp;специализированных учебных центрах. Это позволяет нам выполнять ремонт систем, узлов и&nbsp;агрегатов любой сложности и&nbsp;в&nbsp;строгом соответствии с&nbsp;корпоративными стандартами.</p>
 
<p>У&nbsp;нас представлен широкий ассортимент оригинальных запасных частей, дополнительного оборудования и&nbsp;аксессуаров для автомобилей. Гарантия распространяется на&nbsp;все виды работ и&nbsp;запасные части. По&nbsp;Вашему желанию специалисты могут установить на&nbsp;автомобиль дополнительное оборудование и&nbsp;аксессуары, произвести тонировку стекол.</p>
 
<p>Кроме этого на&nbsp;территории нашего сервис-центра осуществляется кузовной ремонт любой сложности, включая полное восстановление кузова. Высокое качество ремонтных работ обеспечивается использованием современного оборудования и&nbsp;высококачественных материалов.</p>
 
<p>Наши специалисты готовы оказать Вам квалифицированную помощь. Мы&nbsp;берем на&nbsp;себя обязательства обеспечить Вам комфорт при эксплуатации автомобилей  на&nbsp;протяжении многих лет.</p>
 
<p>К Вашему удобству мы предлагаем комфортную клиентскую зону, в которой Вы можете послушать музыку, посмотреть ТВ. Кроме того, у нас работает кафе, терминалы по оплате денежных средств.</p>
 
<p>Разнообразные маркетинговые программы, система скидок при прохождении ТО, мойка и шиномонтаж сделают Ваше обслуживание максимально удобным, а сертифицированный персонал - качественным!</p>
 
<p>Мы ждём Вас!</p>
</PageLayout>