---
import PageLayout from '@/layouts/PageLayout.astro';
import RemontModels from '@/components/RemontModels/RemontModels.astro';

const description = 'Наш сервис-центр предлагает ремонт двигателей, КПП и электрики, а также оригинальные запчасти General Motors. Выгодные цены, высокое качество работы, компетентные специалисты.';
const title = 'Услуги автосервиса в Самаре - цены';
const h1 = 'Сервис и запчасти';

export const breadcrumb = { name: "Сервис и запчасти", href: "/autoservice/" };
---

<PageLayout
  h1={h1}
  title={title}
  description={description}
  breadcrumb={[breadcrumb]}
>
<p><strong>Автоцентр «Альфа»</strong> &mdash; один из самых крупных и  технологически оснащенных Сервис центров среди официальных дилеров General  Motors в Поволжье .</p>
 
<p>Мы осуществляем полный спектр работ по поддержанию автомобилей <RemontModels />  в отличном состоянии, в соответствии с требованиями <nobr>завода-изготовителя</nobr>. Это достигается за счёт мастерства и опыта наших специалистов, постоянно повышающих уровень своей квалификации в специализированных учебных центрах. Это позволяет нам выполнять ремонт систем, узлов и агрегатов любой сложности и в строгом соответствии с корпоративными стандартами.</p>
 
<p>У нас представлен широкий ассортимент оригинальных запасных частей, дополнительного оборудования и аксессуаров для автомобилей. Гарантия распространяется на все виды работ и запасные части. По Вашему желанию специалисты могут установить на автомобиль дополнительное оборудование и аксессуары, произвести тонировку стекол.</p>
 
<p>Кроме этого на территории нашего сервис-центра осуществляется кузовной ремонт любой сложности, включая полное восстановление кузова. Высокое качество ремонтных работ обеспечивается использованием современного оборудования и высококачественных материалов.</p>
 
<p>Наши специалисты готовы оказать Вам квалифицированную помощь. Мы берем на себя обязательства обеспечить Вам комфорт при эксплуатации автомобилей  на протяжении многих лет.</p>
 
<p>К Вашему удобству мы предлагаем комфортную клиентскую зону, в которой Вы можете послушать музыку, посмотреть ТВ. Кроме того, у нас работает кафе, терминалы по оплате денежных средств.</p>
 
<p>Разнообразные маркетинговые программы, система скидок при прохождении ТО, мойка и шиномонтаж сделают Ваше обслуживание максимально удобным, а сертифицированный персонал - качественным!</p>
 
<p>Мы ждём Вас!</p>
</PageLayout>