---
import PageLayout from '@/layouts/PageLayout.astro';
import settings from '@/data/settings.json';
const sites = [
  { brand: 'Jetour', url: 'https://jetour-alpha.ru/cars/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-jetour.webp' },
  { brand: 'Soueast', url: 'https://soueast-samara.ru/cars/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-soueast.webp' },
  { brand: 'Livan', url: 'https://livan-samara.ru/cars/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-livan.webp' },
//   { brand: 'Baic', url: 'https://baic-alpha.ru/cars/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-baic.webp' },
  { brand: 'Kaiyi', url: 'https://kaiyi-alpha.ru/cars/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-kaiyi.webp' },
];
---

<PageLayout
    h1="Выбрать новый автомобиль"
    title="Выбрать новый автомобиль"
    breadcrumb={[{name:"Выбрать новый автомобиль",href:""}]}
>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-5 mt-8">
        {sites.map(({brand, url, image}) => (
            <a href={url} class="!no-underline" target="_blank">
                <div class="bg-gray-50 group rounded-2xl relative aspect-video overflow-hidden lazy">
                    <img
                    src="https://cdn.alexsab.ru/loaders/simple-loading.svg"
                    data-src={image}
                    class="absolute w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110"
                    alt={`Выбрать новый автомобиль ${brand}`}
                    loading="lazy"
                    />
                </div>
                <div class="text-black mt-2 sm:mt-4 leading-none">Новые автомобили {brand}</div>
            </a> 
        ))}
    </div>
</PageLayout>