---
import PageLayout from '@/layouts/PageLayout.astro';
import settings from '@/data/settings.json';
export const { site_name } = settings;
import Review from '@/components/Review/Review.astro';
import reviewsData from '@/data/reviews.json';

import { breadcrumb as aboutBreadcrumb } from '../index.astro';

let posts = reviewsData;
---

<PageLayout 
	h1="Отзывы"
	title={`Отзывы | ${site_name}`}
	breadcrumb={[aboutBreadcrumb, { name: "Отзывы", href: "/reviews/" }]}
>
	{
		posts ? (
		 posts.map(post => ( <Review item={post} /> )) 
		) : (
			<p>Здесь пока нет отзывов.</p>
		)
	}
</PageLayout>