---
import BrandLink from './BrandLink.astro';

const brands = [
  { brand: 'Jetour', url: '/remont/jetour/', image: '/img/remont/logo-photo-jetour.webp' },
  { brand: 'Soueast', url: '/remont/soueast/', image: '/img/remont/logo-photo-soueast.webp' },
  { brand: 'Livan', url: '/remont/livan/', image: '/img/remont/logo-photo-livan.webp' },
  { brand: 'Baic', url: '/remont/baic/', image: '/img/remont/logo-photo-baic.webp' },
  { brand: 'Kaiyi', url: '/remont/kaiyi/', image: '/img/remont/logo-photo-kaiyi.webp' },
  { brand: 'Hyundai', url: '/remont/hyundai/', image: '/img/remont/logo-photo-hyundai.webp' },
  { brand: 'Kia', url: '/remont/kia/', image: '/img/remont/logo-photo-kia.webp' },
  { brand: 'Nissan', url: '/remont/nissan/', image: '/img/remont/logo-photo-nissan.webp' },
  { brand: 'Renault', url: '/remont/renault/', image: '/img/remont/logo-photo-renault.webp' },
  { brand: 'Chevrolet Niva', url: '/remont/niva/', image: '/img/remont/logo-photo-niva-chevrolet.webp' },
  { brand: 'Opel', url: '/remont/opel/', image: '/img/remont/logo-photo-opel.webp' },
  { brand: 'Chevrolet', url: '/remont/chevrolet/', image: '/img/remont/logo-photo-chevrolet.webp' },
  { brand: 'Cadillac', url: '/remont/cadillac/', image: '/img/remont/logo-photo-cadillac.webp' },
  { brand: 'Hummer', url: '/remont/hummer/', image: '/img/remont/logo-photo-hummer.webp' },
];
---
<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-5 mt-8">
  {brands.map((brand) => <BrandLink {...brand} />)}
</div>